.todoItem {
    border-top: 1px solid black;
    font-size: 20px;
    display: flex;
    &__text {
        color: #00D4FF;
        &__done {
            color: black;
        }
    }
    p {
        margin: 10px 0;
        cursor: pointer;
    }
}

.todoItem:first-child {
    border: none;
}

.todoItem__button {
    height: 25px;
    font-size: 15px;
    background-color: darkgrey;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px 0 0 10px;
}

